In [51]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [52]:
train = pd.read_csv("data/train.csv")

In [53]:
test = pd.read_csv("data/test.csv")

In [54]:
df_test = pd.read_csv("data/test.csv")

In [55]:
drop_cols = ['fecha', 'ciudad', 'idzona', 'tipodepropiedad', 'provincia', 'titulo', 'descripcion', 'direccion', 'lat', 'lng', 'id']

In [56]:
X = train.drop(['precio'] + drop_cols, axis=1)
test = test.drop(drop_cols, axis=1)
y = train['precio']

In [57]:
X.columns

Index(['antiguedad', 'habitaciones', 'garages', 'banos', 'metroscubiertos',
       'metrostotales', 'gimnasio', 'usosmultiples', 'piscina',
       'escuelascercanas', 'centroscomercialescercanos'],
      dtype='object')

In [58]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240000 entries, 0 to 239999
Data columns (total 11 columns):
antiguedad                    196445 non-null float64
habitaciones                  217529 non-null float64
garages                       202235 non-null float64
banos                         213779 non-null float64
metroscubiertos               222600 non-null float64
metrostotales                 188533 non-null float64
gimnasio                      240000 non-null float64
usosmultiples                 240000 non-null float64
piscina                       240000 non-null float64
escuelascercanas              240000 non-null float64
centroscomercialescercanos    240000 non-null float64
dtypes: float64(11)
memory usage: 20.1 MB

In [59]:
type(y)

pandas.core.series.Series

In [60]:
X.isnull().sum()

antiguedad                    43555
habitaciones                  22471
garages                       37765
banos                         26221
metroscubiertos               17400
metrostotales                 51467
gimnasio                          0
usosmultiples                     0
piscina                           0
escuelascercanas                  0
centroscomercialescercanos        0
dtype: int64

In [61]:
##Acá hay que depurar más el criterio a tomar.

In [62]:
X['antiguedad'].fillna((X['antiguedad'].mean()), inplace=True)
test['antiguedad'].fillna((test['antiguedad'].mean()), inplace=True)

In [63]:
X['habitaciones'].fillna(1,inplace=True)
test['habitaciones'].fillna(1,inplace=True)

In [64]:
X['banos'].fillna(1,inplace=True)
test['banos'].fillna(1,inplace=True)

In [65]:
X['metroscubiertos'].fillna((X['metroscubiertos'].mean()), inplace=True)
test['metroscubiertos'].fillna((test['metroscubiertos'].mean()), inplace=True)

In [66]:
X['metrostotales'].fillna((X['metrostotales'].mean()), inplace=True)
test['metrostotales'].fillna((test['metrostotales'].mean()), inplace=True)

In [67]:
X['garages'].fillna(X['garages'].mean(),inplace = True)
test['garages'].fillna(test['garages'].mean(),inplace = True)

In [68]:
X['habitaciones'].fillna(0,inplace = True)
test['habitaciones'].fillna(0,inplace = True)

In [69]:
X.isnull().sum()

antiguedad                    0
habitaciones                  0
garages                       0
banos                         0
metroscubiertos               0
metrostotales                 0
gimnasio                      0
usosmultiples                 0
piscina                       0
escuelascercanas              0
centroscomercialescercanos    0
dtype: int64

In [70]:
test.isnull().sum()

antiguedad                    0
habitaciones                  0
garages                       0
banos                         0
metroscubiertos               0
metrostotales                 0
gimnasio                      0
usosmultiples                 0
piscina                       0
escuelascercanas              0
centroscomercialescercanos    0
dtype: int64

In [71]:
type(y)

pandas.core.series.Series

In [72]:
randomForest = RandomForestRegressor(n_estimators=100)

In [73]:
%%time
randomForest.fit(X,y)

CPU times: user 1min 7s, sys: 472 ms, total: 1min 8s
Wall time: 1min 8s

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=100,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [74]:
pred = randomForest.predict(test)

In [75]:
res = pd.DataFrame(pred, index=df_test.id, columns=['target'])
display(res.head())
#res.to_csv("data/workshop-randomforest-v1_0.csv", header=True)

              target
id
4941    4.632875e+06
51775   1.925131e+06
115253  1.735759e+06
299321  2.814059e+06
173570  7.733746e+05

In [76]:
feature_importances = pd.DataFrame(randomForest.feature_importances_,
                                   index = X.columns,
                                    columns=['importance']).sort_values('importance', ascending=False)

In [77]:
feature_importances

                            importance
metroscubiertos               0.480423
metrostotales                 0.174868
antiguedad                    0.102613
banos                         0.068320
habitaciones                  0.051273
garages                       0.046443
centroscomercialescercanos    0.019272
escuelascercanas              0.019086
gimnasio                      0.017308
piscina                       0.011758
usosmultiples                 0.008636